{% extends 'base.html' %}
{% block title %}blogs{% endblock title %}

{% block body %}

<div class="container my-3">
  
  {% for blog in blog reversed %}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article  by {{blog.author}}</strong>
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.timeStamp}}</div>
          <p class="card-text mb-auto">{{blog.content| truncatechars:500}}</p>
          <div class="my-2">
            <a href="/blog/{{blog.id}}" role="button" class="btn btn-primary">Continue reading</a>
          </div>
          
      </div>
      
      </div>

      {% endfor %}
  </div>
  {% endblock body %}